@font-face {
    font-family: 'Prestigio';
    src: url('Prestigio.eot');
    src: local('Prestigio'),
        url('Prestigio.eot?#iefix') format('embedded-opentype'),
        url('Prestigio.woff2') format('woff2'),
        url('Prestigio.woff') format('woff'),
        url('Prestigio.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

